body {
	font-family: 'Inconsolata', sans-serif;
	text-align: center;
	background-image: url("sky.jpg");
}

h1 {
	color: #FF704D;
	margin-bottom: 2em;
	font-size: 3em;
}

h1:hover {
	color: #DDDDDD;
}

h2 {
	font-size: 8em;
}

#container {
	height: 20em;
	width: 40%;
	overflow: scroll;
	margin: 0em auto;
}

.hidden {
	display: none;
}